# Replit configuration file
run = "python main.py"
modules = ["python-3.11"]
hidden = [".config", "package.json"]
entrypoint = "main.py"

[deployment]
run = ["sh", "-c", "python main.py"]

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"
PYTHON_LD_LIBRARY_PATH = "/nix/store/p21fdyxqb3yqflpim7g8s1mymgpnqiv7-python3-3.11.8/lib"

[nix]
channel = "stable-23.11"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true
enabledForPackageManager = true 